openapi: 3.0.0
info:
  title: Macrometa API Reference Activity Metrics Health API
  version: 0.17.17
  description: API reference for the Macrometa Global Data Network.
  license:
    name: Macrometa License, Version 2.0
servers:
- url: https://api-play.paas.macrometa.io
  description: GDN API
host: api-play.paas.macrometa.io
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Health
  description: Health check related routes.
paths:
  /api/est/v1/health:
    get:
      tags:
      - Health
      description: Get PhotonIQ EST health status.
      responses:
        '200':
          description: Returns a health status.
  /api/ds/v1/health:
    get:
      summary: Check the health of the service
      tags:
      - Health
      description: Check the health of the service.
      operationId: checkHealth
      responses:
        '200':
          description: The health of the service is good.
  /api/hss/v1/health:
    get:
      tags:
      - Health
      summary: Get application health
      description: Get the current application health status.
      operationId: get_health_api_hss_v1_health_get
      responses:
        '200':
          description: Successfully returned the health.
          content:
            application/json:
              schema: {}
              example: {}
  /api/prerender/v1/health:
    get:
      summary: Get service health
      tags:
      - Health
      description: Returns the service health.
      responses:
        '200':
          description: Service health fetched successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: Service version.
                required:
                - version
                description: Service health fetched successfully.
                example:
                  version: 1.0.0
  /api/vwr/v1/health:
    get:
      summary: Check the health of the service
      tags:
      - Health
      description: Gets the health of the virtual Rooms service. This API returns HTTP status 200 OK if the service is running, otherwise it returns a 500 Internal Server Error.
      operationId: getHealth
      responses:
        '200':
          description: Successfully fetched the healthy of the service.
        '500':
          description: Internal server error.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Provide an API Key to the `Authorization` header, prefixed with "apikey".


        Example: `Authorization: apikey <key>`'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Provide a JSON Web Token (JWT) to the `Authorization` header, prefixed with "bearer".


        Example: `Authorization: bearer <jwt>`'
