openapi: 3.2.0
info:
  title: PhotonIQ Edge Side Tagging Activity Metrics API
  description: API reference for PhotonIQ Edge Side Tagging.
  version: 1.0.0
servers:
- url: https://api-demo-est.paas.macrometa.io
  description: PhotonIQ Edge Side Tagging API
host: api-demo-est.paas.macrometa.io
tags:
- name: Activity Metrics
  description: All the PhotonIQ EST activity metrics endpoints.
paths:
  /api/est/v1/activity/hourly:
    get:
      tags:
      - Activity Metrics
      description: Get hourly activity metrics based on start and end date-time parameters.
      parameters:
      - in: header
        name: X-PhotonIQ-CustomerID
        schema:
          type: string
        required: true
        description: PhotonIQ EST customer ID.
      - in: query
        name: from
        schema:
          type: string
          format: date-time
        required: true
        description: The UTC start date and time for which activity information is retrieved (e.g. 2022-01-01T00:00:00Z).
      - in: query
        name: to
        schema:
          type: string
          format: date-time
        description: The UTC end date and time for which activity information is retrieved (e.g. 2022-01-01T00:00:00Z).
        required: true
      responses:
        '200':
          description: Activity metrics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '400':
          description: Invalid date parameters.
        '500':
          description: Internal server error.
      summary: Get api est activity hourly
      x-summary-source: derived
      operationId: getApiEstV1ActivityHourly
      x-operation-id-source: derived
  /api/est/v1/activity/daily:
    get:
      tags:
      - Activity Metrics
      description: Get daily activity metrics based on start and end date-time parameters.
      parameters:
      - in: header
        name: X-PhotonIQ-CustomerID
        schema:
          type: string
        required: true
        description: PhotonIQ EST customer ID.
      - in: query
        name: from
        schema:
          type: string
          format: date-time
        required: true
        description: The UTC start date and time for which activity information is retrieved (e.g. 2022-01-01T00:00:00Z).
      - in: query
        name: to
        schema:
          type: string
          format: date-time
        description: The UTC end date and time for which activity information is retrieved (e.g. 2022-01-01T00:00:00Z).
        required: true
      responses:
        '200':
          description: Activity metrics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '400':
          description: Invalid date parameters
        '500':
          description: Internal server error
      summary: Get api est activity daily
      x-summary-source: derived
      operationId: getApiEstV1ActivityDaily
      x-operation-id-source: derived
  /api/est/v1/activity/monthly:
    get:
      tags:
      - Activity Metrics
      description: Get monthly activity metrics based on start and end date-time parameters.
      parameters:
      - in: header
        name: X-PhotonIQ-CustomerID
        schema:
          type: string
        required: true
        description: PhotonIQ EST customer ID.
      - in: query
        name: from
        schema:
          type: string
          format: date-time
        required: true
        description: The UTC start date and time for which activity information is retrieved (e.g. 2022-01-01T00:00:00Z).
      - in: query
        name: to
        schema:
          type: string
          format: date-time
        description: The UTC end date and time for which activity information is retrieved (e.g. 2022-01-01T00:00:00Z).
        required: true
      responses:
        '200':
          description: Activity metrics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '400':
          description: Invalid date parameters
        '500':
          description: Internal server error
      summary: Get api est activity monthly
      x-summary-source: derived
      operationId: getApiEstV1ActivityMonthly
      x-operation-id-source: derived
components:
  schemas:
    TotalMetrics:
      type: object
      properties:
        totalRequests:
          type: number
          description: Number of total requests between from and to time.
        totalBytes:
          type: number
          description: Number of total bytes used between from and to time.
    ActivityMetrics:
      type: object
      properties:
        customerId:
          type: string
          description: ID of the customer.
        componentName:
          type: string
          description: Name of the component, example google-analytics.
        eventType:
          type: string
          description: 'Type of event. Options: pageView or client.'
        eventName:
          type: string
          description: 'Name of event. Options: click | scroll | mousedown'
        count:
          type: number
          description: Number of events.
    MetricsResponse:
      type: object
      properties:
        activityMetrics:
          type: array
          items:
            $ref: '#/components/schemas/ActivityMetrics'
        type:
          type: array
          items:
            $ref: '#/components/schemas/TotalMetrics'
