openapi: 3.0.0
info:
  title: Macrometa API Reference Activity Metrics Variables API
  version: 0.17.17
  description: API reference for the Macrometa Global Data Network.
  license:
    name: Macrometa License, Version 2.0
servers:
- url: https://api-play.paas.macrometa.io
  description: GDN API
host: api-play.paas.macrometa.io
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Variables
  description: All the PhotonIQ EST variables endpoints
paths:
  /api/est/v1/variable:
    post:
      tags:
      - Variables
      description: Create PhotonIQ EST variable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                variableName:
                  type: string
                variableType:
                  type: string
                variableValue:
                  type: string
      responses:
        '200':
          description: Returns created PhotonIQ EST variable
        '500':
          description: Error creating PhotonIQ EST variable
    get:
      tags:
      - Variables
      description: Get PhotonIQ EST variable
      responses:
        '200':
          description: Returns PhotonIQ EST variable
        '500':
          description: Error getting PhotonIQ EST variable
  /api/est/v1/variable/{name}:
    get:
      tags:
      - Variables
      description: Get PhotonIQ EST variable
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
        description: Variable name
      responses:
        '200':
          description: Returns PhotonIQ EST variable
        '500':
          description: Error getting PhotonIQ EST variable
    patch:
      tags:
      - Variables
      description: Update PhotonIQ EST variable
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
        description: Variable name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                variableName:
                  type: string
                variableType:
                  type: string
                variableValue:
                  type: string
      responses:
        '200':
          description: Returns updated PhotonIQ EST variable
        '500':
          description: Error updating PhotonIQ EST variable
    delete:
      tags:
      - Variables
      description: Delete PhotonIQ EST variable
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
        description: Variable name
      responses:
        '200':
          description: PhotonIQ EST service variable deleted successfully
        '500':
          description: Error deleting PhotonIQ EST variable
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Provide an API Key to the `Authorization` header, prefixed with "apikey".


        Example: `Authorization: apikey <key>`'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Provide a JSON Web Token (JWT) to the `Authorization` header, prefixed with "bearer".


        Example: `Authorization: bearer <jwt>`'
