openapi: 3.2.0
info:
  title: PhotonIQ Edge Side Tagging Track API
  description: API reference for PhotonIQ Edge Side Tagging.
  version: 1.0.0
servers:
- url: https://api-demo-est.paas.macrometa.io
  description: PhotonIQ Edge Side Tagging API
host: api-demo-est.paas.macrometa.io
tags:
- name: Track
  description: All the tracking endpoints.
paths:
  /api/est/v1/track:
    post:
      tags:
      - Track
      description: Event tracking endpoint.
      parameters:
      - in: header
        name: X-PhotonIQ-CustomerID
        schema:
          type: string
        required: true
        description: PhotonIQ EST customer ID.
      responses:
        '200':
          description: All the browser events are tracked with this endpoint.
      summary: Create api est track
      x-summary-source: derived
      operationId: postApiEstV1Track
      x-operation-id-source: derived
  /api/est/v1/session-settings:
    post:
      tags:
      - Track
      description: Get PhotonIQ EST settings and initialize client.
      responses:
        '200':
          description: Sets cookies in the client browser for the first time.
      summary: Create api est session settings
      x-summary-source: derived
      operationId: postApiEstV1SessionSettings
      x-operation-id-source: derived
  /api/est/v1/inject-script:
    get:
      tags:
      - Track
      description: Get PhotonIQ EST script to inject in the client browser.
      responses:
        '200':
          description: Injects PhotonIQ EST script in the client browser.
      summary: Get api est inject script
      x-summary-source: derived
      operationId: getApiEstV1InjectScript
      x-operation-id-source: derived
  /api/est/v1/integration-script:
    get:
      tags:
      - Track
      description: Retrieve a client-side integration script for PhotonIQ EST, enabling PhotonIQ EST functionality on user webpages.
      responses:
        '200':
          description: Successfully retrieved the PhotonIQ EST integration script.
      summary: Get api est integration script
      x-summary-source: derived
      operationId: getApiEstV1IntegrationScript
      x-operation-id-source: derived
