openapi: 3.0.0
info:
  title: Macrometa API Reference Activity Metrics Visits API
  version: 0.17.17
  description: API reference for the Macrometa Global Data Network.
  license:
    name: Macrometa License, Version 2.0
servers:
- url: https://api-play.paas.macrometa.io
  description: GDN API
host: api-play.paas.macrometa.io
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Visits
paths:
  /api/ds/v1/visits:
    post:
      summary: Record a visit to the site
      tags:
      - Visits
      description: Record a visit with the specified properties.
      operationId: recordVisit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordVisitInformation'
      parameters:
      - in: header
        name: Cookie
        description: If this cookie is present then this is a returning visitor before.
        required: false
        schema:
          type: string
          example: x-photoniq-vid=value;http-only=true;secure
      responses:
        '202':
          description: Successfully recorded the visit.
          headers:
            x-photoniq-dsid:
              schema:
                type: string
              description: Digital signature ID.
              example: 12416155251620899000
            x-photoniq-vid:
              schema:
                type: string
              description: The visitor ID.
              example: 062b8104-6a71-4ac3-ac7f-6cd1ba6f2fa1
            Cookie:
              description: Security features will be enabled for this cookie to minimize tampering.
              schema:
                type: string
                example: x-photoniq-vid=value;http-only=true;secure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitResponse'
        '400':
          description: Bad request.
        '401':
          description: Authorization failure due to invalid authentication credentials.
    get:
      summary: Retrieve data for a particular visit
      description: Returns data for a particular visit based on the visit ID.
      operationId: getVisitorDetails
      tags:
      - Visits
      security:
      - ApiKeyAuth: []
      parameters:
      - name: visitId
        in: query
        description: Visit ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the visit data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitDetails'
        '400':
          description: Bad request
        '401':
          description: Authorization failure due to invalid authentication credentials.
components:
  schemas:
    PlatformDetails:
      type: object
      properties:
        browser:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
            major:
              type: string
        engine:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
        os:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
        device:
          type: object
          properties:
            vendor:
              type: string
            model:
              type: string
        ua:
          type: string
    RecordVisitInformation:
      type: object
      properties:
        signals:
          type: object
          description: Each property (referred to as [signalName]) represents a unique signal.
          additionalProperties:
            type: object
            properties:
              duration:
                type: number
                description: Duration, expected to be a number.
              error:
                type: string
              value:
                type: string
                description: Any value in string format
        version:
          type: string
    VisitDetails:
      type: object
      properties:
        _key:
          type: string
        visitorId:
          type: string
        signature:
          type: string
        url:
          type: string
        createdAt:
          type: number
        confidence:
          $ref: '#/components/schemas/Confidence'
    VisitResponse:
      type: object
      properties:
        visitorId:
          type: string
        signature:
          type: string
        visit:
          type: object
          properties:
            visitId:
              type: string
            platformDetails:
              $ref: '#/components/schemas/PlatformDetails'
            incognito:
              type: boolean
            ip:
              type: string
            url:
              type: string
            visitorFound:
              type: boolean
            confidence:
              type: object
              properties:
                matchScore:
                  type: number
            timestamp:
              type: number
              format: date-time
              description: Visit timestamp
            firstSeenAt:
              type: number
              format: date-time
              description: Visitor createdAt
    Confidence:
      type: object
      properties:
        matchScore:
          type: number
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Provide an API Key to the `Authorization` header, prefixed with "apikey".


        Example: `Authorization: apikey <key>`'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Provide a JSON Web Token (JWT) to the `Authorization` header, prefixed with "bearer".


        Example: `Authorization: bearer <jwt>`'
