openapi: 3.0.0
info:
  title: Macrometa API Reference Activity Metrics Telemetry API
  version: 0.17.17
  description: API reference for the Macrometa Global Data Network.
  license:
    name: Macrometa License, Version 2.0
servers:
- url: https://api-play.paas.macrometa.io
  description: GDN API
host: api-play.paas.macrometa.io
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Telemetry
paths:
  /api/es/sse/v1/telemetry:
    get:
      tags:
      - Telemetry
      summary: Get the telemetry data
      description: Retrieves telemetry data in Prometheus format. Useful for monitoring services to monitor the statustics.
      operationId: get-telemetry
      responses:
        '200':
          description: Successfully returned the telemetry.
          content:
            text/plain:
              schema:
                type: string
              examples:
                Telemetry:
                  value: sse_subscribe_requests_count 0 sse_subscribe_requests_successes 0 sse_subscribe_requests_failures 0 sse_active_subscription_count 0 sse_subscribe_requests_latency,le="10" 0 sse_subscribe_requests_latency,le="25" 0 sse_subscribe_requests_latency,le="50" 0 sse_subscribe_requests_latency,le="100" 0 sse_subscribe_requests_latency,le="200" 0 sse_subscribe_requests_latency,le="400" 0 sse_subscribe_requests_latency,le="800" 0 sse_subscribe_requests_latency,le="1600" 0 sse_subscribe_requests_latency,le="3200" 0 sse_subscribe_requests_latency,le="Inf" 0
      security:
      - api_key: []
  /api/ds/v1/telemetry:
    get:
      summary: Provides telemetry data
      tags:
      - Telemetry
      description: Provide telemetry data in Prometheus format. Useful for monitoring services to monitor the health of the Fingerprint service.
      operationId: getTelemetry
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successful return the telemetry data.
          content:
            application/test:
              schema:
                example: '# HELP req_metric Metric updated every minute for total request in that minute

                  # TYPE req_metric gauge

                  req_metric{endTimestamp="1695930720000",metricName="requestCount",startTimestamp="1695930660000"} 0

                  # HELP req_ps_metric Metric updated every minute for request per second

                  # TYPE req_ps_metric gauge

                  req_ps_metric{endTimestamp="1695930720000",metricName="requestCountPerSecond",startTimestamp="1695930660000"} 0

                  '
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API doesn't have permissions or it is deactivated.
  /api/prerender/v1/telemetry:
    get:
      summary: Get prerender service telemetry
      tags:
      - Telemetry
      description: Returns prerender service telemetry.
      parameters:
      - schema:
          type: string
        in: header
        name: x-photoniq-customerid
        required: true
        description: Customer unique identifier.
      - schema:
          type: string
        in: header
        name: Authorization
        required: true
        description: Authorization token for API access.
      responses:
        '200':
          description: Metrics fetched successfully.
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                description: Internal server error.
                properties:
                  status:
                    type: string
                    description: Error status.
                  message:
                    type: string
                    description: Error message.
                required:
                - status
                - message
                example:
                  status: ERROR
                  message: Internal server error.
  /api/vwr/v1/telemetry:
    get:
      summary: Provides the telemetry data
      tags:
      - Telemetry
      description: Provides telemetry data in Prometheus format. Useful for monitoring services to monitor the health of the Virtual Waiting Rooms.
      operationId: getTelemetry
      security:
      - APIKeyAuth: []
      responses:
        '200':
          description: Successfully fetched the telemetry data for the service.
          content:
            application/text:
              example: '# TYPE usage_requests_count counter

                usage_requests_count{waitingroom="virtual-room.example.io"} 123456 1694758004532

                # TYPE waiting_time_count counter

                waiting_time_count{waitingroom="virtual-room.example.io"} 123456 1694758004532

                # TYPE waiting_time counter

                waiting_time{waitingroom="virtual-room.example.io"} 100 1694758004532

                # TYPE max_queue_size counter

                max_queue_size{waitingroom="virtual-room.example.io"} 2000 1694758004532

                # TYPE queue_size counter

                queue_size{waitingroom="virtual-room.example.io"} 1500 1694758004532

                '
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '500':
          description: Internal server error.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Provide an API Key to the `Authorization` header, prefixed with "apikey".


        Example: `Authorization: apikey <key>`'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Provide a JSON Web Token (JWT) to the `Authorization` header, prefixed with "bearer".


        Example: `Authorization: bearer <jwt>`'
