openapi: 3.2.0
info:
  title: PhotonIQ Edge Side Tagging EST Settings API
  description: API reference for PhotonIQ Edge Side Tagging.
  version: 1.0.0
servers:
- url: https://api-demo-est.paas.macrometa.io
  description: PhotonIQ Edge Side Tagging API
host: api-demo-est.paas.macrometa.io
tags:
- name: EST Settings
  description: EST setting API to configure `origin`, `cookies`, and `basicAuth`. To access EST telemetrics `basicAuth` configuration is required.
paths:
  /api/est/v1/settings:
    post:
      tags:
      - EST Settings
      description: Create PhotonIQ EST settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cookiesSettings:
                  type: object
                  properties:
                    cookiesKey:
                      type: string
                    sameSite:
                      type: string
                      enum:
                      - none
                      - lax
                      - strict
                    secure:
                      type: boolean
                basicAuth:
                  type: object
                  properties:
                    user:
                      type: string
                    password:
                      type: string
                origin:
                  type: array
                  items:
                    type: string
              required:
              - cookiesSettings
              - basicAuth
              - origin
      responses:
        '200':
          description: Returns created PhotonIQ EST settings.
        '500':
          description: Error creating PhotonIQ EST settings.
      summary: Create api est settings
      x-summary-source: derived
      operationId: postApiEstV1Settings
      x-operation-id-source: derived
    get:
      tags:
      - EST Settings
      description: Get PhotonIQ EST settings.
      responses:
        '200':
          description: Returns PhotonIQ EST settings.
        '404':
          description: Error PhotonIQ EST settings not found.
        '500':
          description: Error getting PhotonIQ EST settings.
      summary: Get api est settings
      x-summary-source: derived
      operationId: getApiEstV1Settings
      x-operation-id-source: derived
    patch:
      tags:
      - EST Settings
      description: Update PhotonIQ EST settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cookiesSettings:
                  type: object
                  properties:
                    cookiesKey:
                      type: string
                    sameSite:
                      type: string
                      enum:
                      - none
                      - lax
                      - strict
                    secure:
                      type: boolean
                basicAuth:
                  type: object
                  properties:
                    user:
                      type: string
                    password:
                      type: string
                origin:
                  type: array
                  items:
                    type: string
              required:
              - cookiesSettings
              - basicAuth
              - origin
      responses:
        '200':
          description: Returns updated PhotonIQ EST settings.
        '500':
          description: Error updating PhotonIQ EST settings.
      summary: Update api est settings
      x-summary-source: derived
      operationId: patchApiEstV1Settings
      x-operation-id-source: derived
    delete:
      tags:
      - EST Settings
      description: Delete PhotonIQ EST settings.
      responses:
        '200':
          description: PhotonIQ EST settings deleted successfully.
        '500':
          description: Error deleting PhotonIQ EST settings.
      summary: Delete api est settings
      x-summary-source: derived
      operationId: deleteApiEstV1Settings
      x-operation-id-source: derived
