openapi: 3.2.0
info:
  title: PhotonIQ Event Delivery Service (EDS) API Reference Health…
  description: 'Deliver real-time data to your application using the EDS API. For in-depth details on EDS, refer to the **PhotonIQ Event Delivery user guide**.


    EDS supports WebSockets and Server-Sent Events. Before proceeding, **contact Macrometa** to obtain the `API_KEY` and `URL` required for accessing your PhotonIQ EDS server.'
  version: 1.0.0
servers:
- url: https://api-play.paas.macrometa.io
  description: GDN API
host: api-play.paas.macrometa.io
tags:
- name: Health Check
  description: Perform EDS health check
paths:
  /api/es/v1/health:
    get:
      summary: EDS health check via WebSocket
      description: Check the health status of the event delivery service.
      operationId: check-health-ws
      tags:
      - Health Check
      responses:
        '200':
          description: The service is up and running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatusResponse'
        '503':
          description: Service Temporarily unavailable
  /api/es/sse/v1/health:
    security:
    - api_key: []
    get:
      tags:
      - Health Check
      summary: EDS health check via SSE
      description: Check the health status of the event delivery service.
      operationId: check-health-sse
      responses:
        '200':
          description: The service is up and running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatusResponse'
        '503':
          description: Service Temporarily unavailable
components:
  schemas:
    GetStatusResponse:
      type: object
      required:
      - status
      properties:
        status:
          type: string
          example: up
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
