openapi: 3.0.0
info:
  title: Macrometa API Reference Activity Metrics System API
  version: 0.17.17
  description: API reference for the Macrometa Global Data Network.
  license:
    name: Macrometa License, Version 2.0
servers:
- url: https://api-play.paas.macrometa.io
  description: GDN API
host: api-play.paas.macrometa.io
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: System
paths:
  /api/faas/v1/health:
    get:
      tags:
      - System
      summary: Check the health of the service
      description: Gets the health of the FaaS service. This API returns HTTP status 200 OK if the service is running, otherwise it returns a 500 Internal Server Error.
      operationId: handle_mm_health
      responses:
        '200':
          description: Successfully fetched the health probe of the service.
        '500':
          description: Internal server error.
  /api/faas/v1/ready:
    get:
      tags:
      - System
      summary: Check the readiness of the service
      description: Gets the readiness of the FaaS service. This API returns HTTP status 200 OK if the service is able to handle requests, otherwise it returns a 503 Service Unavailable.
      operationId: handle_mm_ready
      responses:
        '200':
          description: Successfully fetched the ready probe of the service.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
  /api/faas/v1/version:
    get:
      tags:
      - System
      summary: Version of the service
      description: Gets the current version of the service.
      operationId: handle_mm_version
      responses:
        '200':
          description: Successfully fetched the version of the service.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '500':
          description: Internal server error.
      security:
      - apikey: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Provide an API Key to the `Authorization` header, prefixed with "apikey".


        Example: `Authorization: apikey <key>`'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Provide a JSON Web Token (JWT) to the `Authorization` header, prefixed with "bearer".


        Example: `Authorization: bearer <jwt>`'
