openapi: 3.2.0
info:
  title: PhotonIQ Virtual Waiting Rooms Service information API
  description: API documentation for the PhotonIQ Virtual Waiting Rooms
  version: 2.0.0
servers:
- url: https://api-demo-vwr.paas.macrometa.io
  description: PhotonIQ Virtual Waiting Rooms API
host: api-play.paas.macrometa.io
tags:
- name: Service Information
paths:
  /api/vwr/v1/info:
    get:
      summary: Get the type name and instance of the service
      description: 'Gets the type and instance name of the service.


        Valid values for type are ''leader'', ''follower'', and ''vwrs''.


        This API requires _admin_ permissions to run.'
      tags:
      - Service Information
      security:
      - APIKeyAuth: []
      responses:
        '200':
          description: Successfully fetched the type name and instance of the service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInformationResponse'
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '500':
          description: Internal server error.
      operationId: getApiVwrV1Info
      x-operation-id-source: derived
components:
  schemas:
    getInformationResponse:
      type: object
      properties:
        role:
          description: The type of the service.
          type: string
          enum:
          - leader
          - follower
          - vwrs
          example: leader
        service_host:
          type: string
          description: Name of the instance of the service.
          example: test-service-us-east.example.io
  securitySchemes:
    APIKeyAuth:
      type: apiKey
      in: header
      name: Authorization
