openapi: 3.0.0
info:
  title: Macrometa API Reference Activity Metrics Function API
  version: 0.17.17
  description: API reference for the Macrometa Global Data Network.
  license:
    name: Macrometa License, Version 2.0
servers:
- url: https://api-play.paas.macrometa.io
  description: GDN API
host: api-play.paas.macrometa.io
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Function
paths:
  /_fabric/{fabric}/_api/function:
    get:
      description: List multiple edge functions.
      operationId: ListAllFunctionWorkerByType
      parameters:
      - in: path
        name: fabric
        required: true
        description: The name of the fabric.
        schema:
          type: string
          format: string
          default: _system
      - name: type
        in: query
        description: Type of edge function.
        schema:
          type: string
          enum:
          - all
          - akamai
          - macrometa
          default: all
      responses:
        '200':
          description: Successfully fetched edge functions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_edge_worker_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '403':
          description: Failed to validate because you do not have access to the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_403'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified fabric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: List multiple edge functions.
      tags:
      - Function
  /_fabric/{fabric}/_api/function/generate:
    post:
      description: 'Deploy the query worker to the edge worker environment.


        **Note**: The edge worker activation is delayed while the environment is setup. Use the get edge function information API to get the activation status of the edge worker.'
      operationId: GenerateFunctionWorkerFromQueryWorker
      parameters:
      - in: path
        name: fabric
        required: true
        description: The name of the fabric.
        schema:
          type: string
          format: string
          default: _system
      - name: type
        in: query
        description: Type of edge worker.
        schema:
          type: string
          enum:
          - akamai
          default: akamai
      - name: name
        required: true
        in: query
        description: Name of the edge worker.
        schema:
          type: string
      - name: queryWorkerName
        required: true
        in: query
        description: Name of the Macrometa query worker.
        schema:
          type: string
      - name: environment
        required: false
        in: query
        description: The environment in which the edge worker is activated.
        schema:
          type: string
          enum:
          - STAGING
          - PRODUCTION
          default: PRODUCTION
      responses:
        '202':
          description: Successfully deployed the query worker to the edge worker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generate_edge_worker_from_query_worker_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '403':
          description: Failed to validate because you do not have access to the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_403'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified fabric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Deploy the query worker to the edge worker.
      tags:
      - Function
  /_fabric/{fabric}/_api/function/generate/publisher:
    post:
      description: 'Deploy the stream publisher to the edge worker environment.


        **Note**: The edge worker activation is delayed while the environment is setup. Use the get edge function information API to get the activation status of the edge worker.'
      operationId: GenerateFunctionWorkerFromStreamPublisher
      parameters:
      - in: path
        name: fabric
        required: true
        description: The name of the fabric.
        schema:
          type: string
          format: string
          default: _system
      - name: type
        in: query
        description: Type of edge worker.
        schema:
          type: string
          enum:
          - akamai
          default: akamai
      - name: name
        required: true
        in: query
        description: Name of the edge worker.
        schema:
          type: string
      - name: streamWorkerName
        required: true
        in: query
        description: Name of the stream worker.
        schema:
          type: string
      - name: streamName
        required: true
        in: query
        description: Name of the stream.
        schema:
          type: string
      - name: environment
        in: query
        description: The environment in which the edge worker is activated.
        schema:
          type: string
          enum:
          - STAGING
          - PRODUCTION
          default: PRODUCTION
      responses:
        '202':
          description: Successfully deployed the stream publisher to the edge worker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generate_edge_worker_from_query_worker_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '403':
          description: Failed to validate because you do not have access to the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_403'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified fabric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Deploy the stream publisher to the edge worker.
      tags:
      - Function
  /_fabric/{fabric}/_api/function/generate/query:
    post:
      description: "Deploy the stream adhoc query to the edge worker environment. \n\n**Note**: The edge worker activation is delayed while the environment is setup. Use the get edge function information API to get the activation status of the edge worker."
      operationId: GenerateFunctionWorkerFromStreamQuery
      parameters:
      - in: path
        name: fabric
        required: true
        description: The name of the fabric.
        schema:
          type: string
          format: string
          default: _system
      - name: type
        in: query
        description: Type of edge worker.
        schema:
          type: string
          enum:
          - akamai
          default: akamai
      - name: name
        required: true
        in: query
        description: Name of the edge worker.
        schema:
          type: string
      - name: streamWorkerName
        required: true
        in: query
        description: Name of the stream worker.
        schema:
          type: string
      - name: environment
        in: query
        description: The environment in which the edge worker is activated.
        schema:
          type: string
          enum:
          - STAGING
          - PRODUCTION
          default: PRODUCTION
      responses:
        '202':
          description: Successfully deploy the stream adhoc query to the edge worker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generate_edge_worker_from_query_worker_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '403':
          description: Failed to validate because you do not have access to the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_403'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified fabric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Deploy the stream adhoc query to the edge worker.
      tags:
      - Function
  /_fabric/{fabric}/_api/function/{fx-name}:
    get:
      description: Get edge function information.
      operationId: GetFunctionWorkerByFunctionName
      parameters:
      - in: path
        name: fabric
        required: true
        description: The name of the fabric.
        schema:
          type: string
          format: string
          default: _system
      - name: fx-name
        required: true
        in: path
        description: The name of the edge function.
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Successfully fetched information about the edge function.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edge_worker_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '403':
          description: Failed to validate because you do not have access to the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_403'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified fabric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Get edge function information.
      tags:
      - Function
    delete:
      description: Remove a edge function.
      operationId: DeleteFunctionWorkerByFunctionName
      parameters:
      - in: path
        name: fabric
        required: true
        description: The name of the fabric.
        schema:
          type: string
          format: string
          default: _system
      - name: fx-name
        required: true
        in: path
        description: The name of the edge function.
        schema:
          type: string
          format: string
      responses:
        '204':
          description: Successfully removed edge function.
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '403':
          description: Failed to validate because you do not have access to the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_403'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified fabric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Remove a edge function.
      tags:
      - Function
  /_fabric/{fabric}/_api/function/invoke/{fx-name}:
    post:
      description: Invoke a edge function.
      operationId: InvokeFunctionWorkerByFunctionName
      parameters:
      - in: path
        name: fabric
        required: true
        description: The name of the fabric.
        schema:
          type: string
          format: string
          default: _system
      - name: fx-name
        required: true
        in: path
        description: The name of the edge function.
        schema:
          type: string
          format: string
      - name: params
        required: false
        in: query
        description: 'Params for edge worker like bindVars or query. E.g: {''key1'':''val1''}.'
        schema:
          type: string
          default: '{}'
      responses:
        '201':
          description: Successfully invoked the edge function.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoke_function_worker_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '403':
          description: Failed to validate because you do not have access to the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_403'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified fabric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Invoke a edge function.
      tags:
      - Function
  /_fabric/{fabric}/_api/function/metadata:
    get:
      description: Get metadata about the edge worker.
      operationId: GetFunctionWorkerMetadata
      parameters:
      - in: path
        name: fabric
        required: true
        description: The name of the fabric.
        schema:
          type: string
          format: string
          default: _system
      responses:
        '200':
          description: Successfully fetched the metadata about the edge worker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/function_worker_metadata_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '403':
          description: Failed to validate because you do not have access to the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_403'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified fabric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Get metadata about the edge worker.
      tags:
      - Function
    put:
      description: Modify the edge worker metadata.
      operationId: ModifyFunctionWorkerMetadata
      parameters:
      - in: path
        name: fabric
        required: true
        description: The name of the fabric.
        schema:
          type: string
          format: string
          default: _system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modify_function_worker_metadata'
        required: true
      responses:
        '201':
          description: Successfully modified the edge worker metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set_function_metadata_example_rc_201'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '403':
          description: Failed to validate because you do not have access to the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_403'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified fabric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Modify the edge worker metadata.
      tags:
      - Function
    post:
      description: Create the edge worker metadata.
      operationId: UpdateFunctionWorkerMetadata
      parameters:
      - in: path
        name: fabric
        required: true
        description: The name of the fabric.
        schema:
          type: string
          format: string
          default: _system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/function_worker_metadata'
        required: true
      responses:
        '201':
          description: Successfully created the edge worker metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set_function_metadata_example_rc_201'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '403':
          description: Failed to validate because you do not have access to the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_403'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified fabric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Create the edge worker metadata.
      tags:
      - Function
    delete:
      description: Remove metadata for an edge worker.
      operationId: RemoveFunctionWorkerMetadata
      parameters:
      - in: path
        name: fabric
        required: true
        description: The name of the fabric.
        schema:
          type: string
          format: string
          default: _system
      responses:
        '204':
          description: Successfully removed edge worker metadata.
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '403':
          description: Failed to validate because you do not have access to the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_403'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified fabric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Remove the edge worker metadata.
      tags:
      - Function
  /api/faas/v1/deploy:
    post:
      tags:
      - Function
      summary: Deploy the function
      description: 'This endpoint allows you to deploy a function by specifying its unique function name. Unique Function name is defined in `.toml`.

        The function code and configuration details are required to complete the deployment.

        The function code should be provided as a `.js` or `.wasm` file, and the configuration details should be in a `.toml` file format.

        Both files should be included in the multipart form data.'
      operationId: handle_mm_deploy
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FunctionDataForm'
        required: true
      responses:
        '200':
          description: The function was successfully deployed.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '404':
          description: Not found.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
      - apikey: []
  /api/faas/v1/download/{functionName}:
    get:
      tags:
      - Function
      summary: Download the latest version of a function
      description: Download the latest version of a function for the specified function name. The downloaded file will be either a `.js` or `.wasm` file, depending on the function's implementation.
      operationId: handle_latest_mm_download
      parameters:
      - name: functionName
        in: path
        description: The unique name of the function
        required: true
        schema:
          type: string
      - name: metaOnly
        in: query
        description: If true, only the metadata will be downloaded. If false, only the function file (either `.js` or `.wasm`) will be downloaded.
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully downloaded the function.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '404':
          description: Not found.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
      - apikey: []
  /api/faas/v1/download/{functionName}/{version}:
    get:
      tags:
      - Function
      summary: Download the function
      description: Download the function for the specified version and function name. The downloaded file will be either a `.js` or `.wasm` file, depending on the function's implementation.
      operationId: handle_mm_download
      parameters:
      - name: functionName
        in: path
        description: The unique name of the function
        required: true
        schema:
          type: string
      - name: version
        in: path
        description: The unique name of the function to download
        required: true
        schema:
          type: string
      - name: metaOnly
        in: query
        description: If true, only the metadata will be downloaded. If false, only the function file (either `.js` or `.wasm`) will be downloaded.
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully downloaded the function.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '404':
          description: Not found.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
      - apikey: []
  /api/faas/v1/function/{functionName}:
    delete:
      tags:
      - Function
      summary: Delete All Versions
      description: Delete all versions of the specified function name. This operation removes every version of the function, effectively erasing all its deployment history.
      operationId: handle_all_mm_delete_function
      parameters:
      - name: functionName
        in: path
        description: The unique name of the function
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted all versions of the function.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '404':
          description: Not found.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
      - apikey: []
  /api/faas/v1/function/{functionName}/{version}:
    delete:
      tags:
      - Function
      summary: Delete a Specific Version of a Function
      description: Delete the specified version of a function identified by its unique function name and version number. This operation removes only the specified version, leaving other versions intact.
      operationId: handle_mm_delete_function
      parameters:
      - name: functionName
        in: path
        description: The unique name of the function
        required: true
        schema:
          type: string
      - name: version
        in: path
        description: The unique name of the function to download
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted specific version of the function.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '404':
          description: Not found.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
      - apikey: []
  /api/faas/v1/functions:
    get:
      tags:
      - Function
      summary: Retrieve Function Names
      description: Retrieve the names of all functions available in the system. This endpoint returns a list of function names that can be used for further operations such as deploying or deleting functions.
      operationId: handle_mm_functions
      responses:
        '200':
          description: Successfully retrieved the function names.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '404':
          description: Not found.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
      - apikey: []
  /api/faas/v1/function/{functionName}/versions:
    get:
      tags:
      - Function
      summary: Retrieve Function Versions
      description: Retrieve all versions of the specified function identified by its unique function name. This endpoint returns a list of versions, providing details about each version of the function that is available in the system.
      operationId: handle_mm_versions
      parameters:
      - name: functionName
        in: path
        description: The unique name of the function
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the function versions.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
      - apikey: []
  /api/faas/v1/execute/{functionName}:
    post:
      tags:
      - Function
      summary: Execute the Latest Version of a Function
      description: Execute the latest version of a function identified by its unique function name. The function is executed with the provided JSON body, which contains the necessary input for the function.
      operationId: handle_latest_mm_execute
      parameters:
      - name: functionName
        in: path
        description: The unique name of the function
        required: true
        schema:
          type: string
      requestBody:
        description: A valid JSON body is accepted
        content:
          application/json:
            schema: {}
            example: {}
        required: true
      responses:
        '200':
          description: Successfully executed the function.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '404':
          description: Not found.
        '500':
          description: Internal server error.
      security:
      - apikey: []
  /api/faas/v1/execute/{functionName}/{versionOrAlias}:
    post:
      tags:
      - Function
      summary: Execute the Function with Alias or Version Parameter
      description: Execute the specified version or alias of a function identified by its unique function name. The version or alias is provided as a path parameter, allowing the execution of different versions or named aliases of the function. The function is executed with the provided JSON body, which contains the necessary input for the function.
      operationId: handle_mm_execute
      parameters:
      - name: functionName
        in: path
        description: The unique name of the function
        required: true
        schema:
          type: string
      - name: versionOrAlias
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: A valid JSON body is accepted
        content:
          application/json:
            schema: {}
            example: {}
        required: true
      responses:
        '200':
          description: Successfully executed the function.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '404':
          description: Not found.
        '500':
          description: Internal server error.
      security:
      - apikey: []
  /api/faas/v1/function/{functionName}/alias/{aliasName}:
    put:
      tags:
      - Function
      summary: Update the Alias
      description: Update the alias for the specified function name. This endpoint allows you to change the alias configuration, associating it with different versions of the function and specifying their weights. The alias configuration is provided as an array of objects, each containing a valid version and a corresponding weight.
      operationId: handle_mm_alias_update
      parameters:
      - name: functionName
        in: path
        description: The unique name of the function
        required: true
        schema:
          type: string
      - name: aliasName
        in: path
        description: The alias name associated with a specific version of a function.
        required: true
        schema:
          type: string
      requestBody:
        description: An array of alias object that includes valid 'version' and 'weight'
        content:
          application/json:
            schema:
              type: array
              items: {}
            example:
            - version: 1.0.0
              weight: 0
        required: true
      responses:
        '200':
          description: Successfully updated the alias.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '404':
          description: Not found.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
      - apikey: []
    get:
      tags:
      - Function
      summary: Retrieve the Alias
      description: Retrieve the alias associated with a specified function name. This endpoint returns the alias configuration for the function, providing details about the versions and weights associated with the alias.
      operationId: handle_mm_alias
      parameters:
      - name: functionName
        in: path
        description: The unique name of the function
        required: true
        schema:
          type: string
      - name: aliasName
        in: path
        description: The alias name associated with a specific version of a function.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the function alias.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '404':
          description: Not found.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
      - apikey: []
  /api/faas/v1/function/{functionName}/aliases:
    get:
      tags:
      - Function
      summary: Retrieve All Aliases
      description: Retrieve all aliases associated with the specified function name. This endpoint returns a list of all alias configurations for the function, providing details about the versions and weights associated with each alias.
      operationId: handle_mm_aliases
      parameters:
      - name: functionName
        in: path
        description: The unique name of the function
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the function aliases.
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '404':
          description: Not found.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
      - apikey: []
components:
  schemas:
    edge_worker_rc_200:
      type: object
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 200
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        result:
          items:
            type: object
            properties:
              activationStatus:
                type: string
                example: ACTIVE
                description: Edge function activation status.
              description:
                type: string
                example: Get animal details edge function.
                description: Description about edge function.
              edgeWorkerId:
                type: number
                example: 59283
                description: Edge function identifier.
              name:
                type: string
                example: mmFnworker
                description: Name of the edge function.
              type:
                type: string
                example: akamai
                description: Type of the edge function.
                enum:
                - akamai
                - macrometa
              environment:
                type: string
                example: PRODUCTION
                description: Edge function activation environment.
              url:
                type: string
                example: mmfnworker.macrometa.io/
                description: URL to access the edge function.
              fabric:
                type: string
                example: _system
                description: Name of the fabric.
              createdAt:
                format: date-time
                type: string
                example: '2022-08-16T06:46:02Z'
                description: ISO 8601 timestamp indicating when the edge function was created.
              lastModified:
                format: date-time
                type: string
                example: '2022-08-10T01:29:39Z'
                description: ISO 8601 timestamp indicating when the edge worker was most recently modified.
              queryWorkerName:
                type: string
                example: animal_details_ew
                description: Name of the Macrometa query worker.
              queue:
                type: string
                example: 'No'
                description: If yes, then pending activation.
          type: array
    error_example_rc_404:
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 404
        error:
          description: Flag if there is an error in response. *True* for this response.
          type: boolean
          example: true
        errorMessage:
          description: A message created for this error.
          type: string
          example: Error message
        errorNum:
          description: Error number returned from the database.
          type: integer
          example: 581
      required:
      - error
      type: object
    error_example_rc_403:
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 403
        error:
          description: Flag if there is an error in response. *True* for this response.
          type: boolean
          example: true
        errorMessage:
          description: A message created for this error.
          type: string
          example: Error message
        errorNum:
          description: Error number returned from the database.
          type: integer
          example: 581
      required:
      - error
      type: object
    set_function_metadata_example_rc_201:
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 201
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        result:
          description: Flag for if the metadata for edge function is set successfully.
          type: boolean
          example: true
    invoke_function_worker_rc_200:
      description: Array of key value pairs.
      example:
      - key: value
      type: object
    FunctionDataForm:
      type: object
      required:
      - functionFile
      - photoniqToml
      properties:
        functionFile:
          type: string
          format: binary
          description: The code of the function to be deployed, provided as a `.js` or `.wasm` file.
        photoniqToml:
          type: string
          format: binary
          description: The configuration file for the function, provided in `.toml` format. This file includes settings such as allowed methods, allowed hosts, environment variables, etc.
    headers:
      x-gdn-region:
        description: The federation's region hostname that served the request.
        type: string
      x-gdn-requestid:
        description: A unique request ID for each API request.
        type: string
    error_example_rc_400:
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 400
        error:
          description: Flag if there is an error in response. *True* for this response.
          type: boolean
          example: true
        errorMessage:
          description: A message created for this error.
          type: string
          example: Error message
        errorNum:
          description: Error number returned from the database.
          type: integer
          example: 102020
      required:
      - error
      type: object
    modify_function_worker_metadata:
      properties:
        type:
          type: string
          example: akamai
          description: Type of the edge function.
          enum:
          - akamai
          - macrometa
        accessToken:
          type: string
          example: 66c6c8a1d7112066cbd1905cb909bbe1e29ae730f7873b4ff35afe286
          description: Akamai access token.
        baseUri:
          type: string
          example: something.akamai.com
          description: Host name of the Akamai edge worker.
        clientSecret:
          type: string
          example: 86c6c8a1d7112066cbd1905cb909bbe1e29ae730f7873b4ff35afe286
          description: Akamai client secret.
        clientToken:
          type: string
          example: 96c6c8a1d7112066cbd1905cb909bbe1e29ae730f7873b4ff35afe286
          description: Akamai client token.
        resourceTierId:
          type: string
          description: Resource tier identifier.
          example: '201'
        groupId:
          type: string
          description: Group identifier.
          example: '221222'
        hostName:
          type: string
          description: Edge function hostname.
          example: macrometa-akamai-ew.macrometa.io
      type: object
    function_worker_metadata:
      properties:
        type:
          type: string
          example: akamai
          description: Type of the edge function.
          enum:
          - akamai
          - macrometa
        accessToken:
          type: string
          example: 66c6c8a1d7112066cbd1905cb909bbe1e29ae730f7873b4ff35afe286
          description: Akamai access token.
        baseUri:
          type: string
          example: something.akamai.com
          description: Host name of the Akamai edge worker.
        clientSecret:
          type: string
          example: 86c6c8a1d7112066cbd1905cb909bbe1e29ae730f7873b4ff35afe286
          description: Akamai client secret.
        clientToken:
          type: string
          example: 96c6c8a1d7112066cbd1905cb909bbe1e29ae730f7873b4ff35afe286
          description: Akamai client token.
        resourceTierId:
          type: string
          description: Resource tier identifier.
          example: '201'
        groupId:
          type: string
          description: Group identifier.
          example: '221222'
        hostName:
          type: string
          description: Edge function hostname.
          example: macrometa-akamai-ew.macrometa.io
      required:
      - type
      - accessToken
      - clientSecret
      - baseUri
      - clientToken
      - resourceTierId
      - groupId
      - hostName
      type: object
    function_worker_metadata_rc_200:
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 200
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        result:
          items:
            properties:
              type:
                type: string
                example: akamai
                description: Type of the edge function.
                enum:
                - akamai
                - macrometa
              accessToken:
                type: string
                example: 66c6c8a1d7112066cbd1905cb909bbe1e29ae730f7873b4ff35afe286
                description: Akamai access token.
              baseUri:
                type: string
                example: something.akamai.com
                description: Host name of the Akamai edge worker.
              clientSecret:
                type: string
                example: 86c6c8a1d7112066cbd1905cb909bbe1e29ae730f7873b4ff35afe286
                description: Akamai client secret.
              clientToken:
                type: string
                example: 96c6c8a1d7112066cbd1905cb909bbe1e29ae730f7873b4ff35afe286
                description: Akamai client token.
              resourceTierId:
                type: string
                description: Resource tier identifier.
                example: '201'
              groupId:
                type: string
                description: Group identifier.
                example: '221222'
              propertyId:
                type: string
                description: Akamai property identifier.
                example: '46'
              contractId:
                type: string
                description: Akamai contract identifier.
                example: ctr_V-49QB5O7
              hostName:
                type: string
                description: Edge function hostname.
                example: macrometa-akamai-ew.macrometa.io
            type: object
          type: array
    list_edge_worker_rc_200:
      $ref: '#/components/schemas/edge_worker_rc_200'
    error_example_rc_401:
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 401
        error:
          description: Flag if there is an error in response. *True* for this response.
          type: boolean
          example: true
        errorMessage:
          description: A message created for this error.
          type: string
          example: Error message
        errorNum:
          description: Error number returned from the database.
          type: integer
          example: '102020'
      required:
      - error
      type: object
    generate_edge_worker_from_query_worker_rc_200:
      type: object
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 202
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        result:
          items:
            properties:
              message:
                type: string
                example: The edge worker will be generated and activated shortly.
                description: Success message.
            type: object
          type: array
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Provide an API Key to the `Authorization` header, prefixed with "apikey".


        Example: `Authorization: apikey <key>`'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Provide a JSON Web Token (JWT) to the `Authorization` header, prefixed with "bearer".


        Example: `Authorization: bearer <jwt>`'
