openapi: 3.2.0
info:
  title: PhotonIQ Edge Side Tagging Triggers API
  description: API reference for PhotonIQ Edge Side Tagging.
  version: 1.0.0
servers:
- url: https://api-demo-est.paas.macrometa.io
  description: PhotonIQ Edge Side Tagging API
host: api-demo-est.paas.macrometa.io
tags:
- name: Triggers
  description: This endpoint is designed for configuring triggers for a specific component.
paths:
  /api/est/v1/trigger:
    post:
      tags:
      - Triggers
      description: Create PhotonIQ EST trigger.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                ruleType:
                  type: string
                variableName:
                  type: string
                matchOperation:
                  type: string
                matchValue:
                  type: string
      responses:
        '200':
          description: Returns created PhotonIQ EST trigger.
        '500':
          description: Error creating PhotonIQ EST trigger.
      summary: Create api est trigger
      x-summary-source: derived
      operationId: postApiEstV1Trigger
      x-operation-id-source: derived
    get:
      tags:
      - Triggers
      description: Get all PhotonIQ EST triggers.
      responses:
        '200':
          description: Returns PhotonIQ EST trigger.
        '500':
          description: Error getting PhotonIQ EST trigger.
      summary: Get api est trigger
      x-summary-source: derived
      operationId: getApiEstV1Trigger
      x-operation-id-source: derived
  /api/est/v1/trigger/{name}:
    get:
      tags:
      - Triggers
      description: Get PhotonIQ EST trigger.
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
        description: Trigger name
      responses:
        '200':
          description: Returns PhotonIQ EST trigger.
        '500':
          description: Error getting PhotonIQ EST trigger.
      summary: Get api est trigger by name
      x-summary-source: derived
      operationId: getApiEstV1TriggerByName
      x-operation-id-source: derived
    patch:
      tags:
      - Triggers
      description: Update PhotonIQ EST trigger.
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
        description: Trigger name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                ruleType:
                  type: string
                variableName:
                  type: string
                matchOperation:
                  type: string
                matchValue:
                  type: string
      responses:
        '200':
          description: Returns updated PhotonIQ EST trigger.
        '404':
          description: Error Trigger not found
        '500':
          description: Error updating PhotonIQ EST trigger.
      summary: Update api est trigger by name
      x-summary-source: derived
      operationId: patchApiEstV1TriggerByName
      x-operation-id-source: derived
    delete:
      tags:
      - Triggers
      description: Delete PhotonIQ EST trigger.
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
        description: Trigger name.
      responses:
        '200':
          description: PhotonIQ EST service trigger deleted successfully.
        '500':
          description: Error deleting PhotonIQ EST trigger.
      summary: Delete api est trigger by name
      x-summary-source: derived
      operationId: deleteApiEstV1TriggerByName
      x-operation-id-source: derived
