openapi: 3.2.0
info:
  title: PhotonIQ Edge Side Tagging Error Metrics API
  description: API reference for PhotonIQ Edge Side Tagging.
  version: 1.0.0
servers:
- url: https://api-demo-est.paas.macrometa.io
  description: PhotonIQ Edge Side Tagging API
host: api-demo-est.paas.macrometa.io
tags:
- name: Error Metrics
  description: All the PhotonIQ EST error metrics endpoints.
paths:
  /api/est/v1/error/hourly:
    get:
      tags:
      - Error Metrics
      description: Get hourly error metrics based on start and end date-time parameters.
      parameters:
      - in: header
        name: X-PhotonIQ-CustomerID
        schema:
          type: string
        required: true
        description: PhotonIQ EST customer ID.
      - in: query
        name: from
        schema:
          type: string
          format: date-time
        required: true
        description: The UTC start date and time when error information is retrieved (e.g. 2022-01-01T00:00:00Z).
      - in: query
        name: to
        schema:
          type: string
          format: date-time
        description: The UTC end date and time when error information is retrieved (e.g. 2022-01-01T00:00:00Z).
        required: true
      responses:
        '200':
          description: Error metrics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMetrics'
        '400':
          description: Invalid date parameters
        '500':
          description: Internal server error
      summary: Get api est error hourly
      x-summary-source: derived
      operationId: getApiEstV1ErrorHourly
      x-operation-id-source: derived
  /api/est/v1/error/daily:
    get:
      tags:
      - Error Metrics
      description: Get daily error metrics based on start and end date-time parameters.
      parameters:
      - in: header
        name: X-PhotonIQ-CustomerID
        schema:
          type: string
        required: true
        description: PhotonIQ EST customer ID.
      - in: query
        name: from
        schema:
          type: string
          format: date-time
        required: true
        description: The UTC start date and time when error information is retrieved (e.g. 2022-01-01T00:00:00Z).
      - in: query
        name: to
        schema:
          type: string
          format: date-time
        description: The UTC end date and time when error information is retrieved (e.g. 2022-01-01T00:00:00Z).
        required: true
      responses:
        '200':
          description: Error metrics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMetrics'
        '400':
          description: Invalid date parameters
        '500':
          description: Internal server error.
      summary: Get api est error daily
      x-summary-source: derived
      operationId: getApiEstV1ErrorDaily
      x-operation-id-source: derived
  /api/est/v1/error/monthly:
    get:
      tags:
      - Error Metrics
      description: Get monthly error metrics based on start and end date-time parameters.
      parameters:
      - in: header
        name: X-PhotonIQ-CustomerID
        schema:
          type: string
        required: true
        description: PhotonIQ EST customer ID.
      - in: query
        name: from
        schema:
          type: string
          format: date-time
        required: true
        description: The UTC start date and time when error information is retrieved (e.g. 2022-01-01T00:00:00Z).
      - in: query
        name: to
        schema:
          type: string
          format: date-time
        description: The UTC end date and time when error information is retrieved (e.g. 2022-01-01T00:00:00Z).
        required: true
      responses:
        '200':
          description: Error metrics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMetrics'
        '400':
          description: Invalid date parameters.
        '500':
          description: Internal server error.
      summary: Get api est error monthly
      x-summary-source: derived
      operationId: getApiEstV1ErrorMonthly
      x-operation-id-source: derived
components:
  schemas:
    ErrorMetrics:
      type: object
      properties:
        customerId:
          type: string
          description: ID of the customer.
        errorName:
          type: string
          description: Name of the error occured.
        count:
          type: number
          description: Number of errors.
