openapi: 3.2.0
info:
  title: PhotonIQ Edge Side Tagging Settings API
  description: API reference for PhotonIQ Edge Side Tagging.
  version: 1.0.0
servers:
- url: https://api-demo-est.paas.macrometa.io
  description: PhotonIQ Edge Side Tagging API
host: api-demo-est.paas.macrometa.io
tags:
- name: Settings
  description: Settings endpoints allows users to configure a component to integrate various third-party tags into their system. It accepts configuration settings for different types of tags, such as analytics, advertising, social media, and so on.
paths:
  /api/est/v1/components/settings:
    post:
      tags:
      - Settings
      description: Create PhotonIQ EST component setting.
      responses:
        '200':
          description: Returns created PhotonIQ EST component setting.
        '500':
          description: Error creating PhotonIQ EST component setting.
      summary: Create api est components settings
      x-summary-source: derived
      operationId: postApiEstV1ComponentsSettings
      x-operation-id-source: derived
    get:
      tags:
      - Settings
      description: Get all PhotonIQ EST component settings.
      responses:
        '200':
          description: Returns all PhotonIQ EST component settings.
        '404':
          description: Error PhotonIQ EST component settings not found.
        '500':
          description: Error getting all PhotonIQ EST component settings.
      summary: Get api est components settings
      x-summary-source: derived
      operationId: getApiEstV1ComponentsSettings
      x-operation-id-source: derived
    delete:
      tags:
      - Settings
      description: Delete all PhotonIQ EST component settings.
      responses:
        '200':
          description: All PhotonIQ EST component settings deleted successfully.
        '500':
          description: Error deleting all PhotonIQ EST component settings.
      summary: Delete api est components settings
      x-summary-source: derived
      operationId: deleteApiEstV1ComponentsSettings
      x-operation-id-source: derived
  /api/est/v1/components/settings/{component}:
    get:
      tags:
      - Settings
      description: Get PhotonIQ EST component setting.
      parameters:
      - in: path
        name: component
        required: true
        schema:
          type: string
        description: Name of the component.
      responses:
        '200':
          description: Returns PhotonIQ EST component setting.
        '404':
          description: Error PhotonIQ EST component setting not found.
        '500':
          description: Error getting PhotonIQ EST component setting.
      summary: Get api est components settings by component
      x-summary-source: derived
      operationId: getApiEstV1ComponentsSettingsByComponent
      x-operation-id-source: derived
    patch:
      tags:
      - Settings
      description: Update PhotonIQ EST component setting.
      parameters:
      - in: path
        name: component
        required: true
        schema:
          type: string
        description: Name of the component.
      responses:
        '200':
          description: Returns updated PhotonIQ EST component setting.
        '500':
          description: Error updating PhotonIQ EST component setting.
      summary: Update api est components settings by component
      x-summary-source: derived
      operationId: patchApiEstV1ComponentsSettingsByComponent
      x-operation-id-source: derived
    delete:
      tags:
      - Settings
      description: Delete PhotonIQ EST component setting.
      parameters:
      - in: path
        name: component
        required: true
        schema:
          type: string
        description: Name of the component.
      responses:
        '200':
          description: PhotonIQ EST component setting deleted successfully.
        '500':
          description: Error deleting PhotonIQ EST component setting.
      summary: Delete api est components settings by component
      x-summary-source: derived
      operationId: deleteApiEstV1ComponentsSettingsByComponent
      x-operation-id-source: derived
