openapi: 3.0.0
info:
  title: Macrometa API Reference Activity Metrics Service information API
  version: 0.17.17
  description: API reference for the Macrometa Global Data Network.
  license:
    name: Macrometa License, Version 2.0
servers:
- url: https://api-play.paas.macrometa.io
  description: GDN API
host: api-play.paas.macrometa.io
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Service information
paths:
  /api/vwr/v1/info:
    get:
      summary: Get the type name and instance of the service
      description: 'Gets the type and instance name of the service.


        Valid values for type are ''leader'', ''follower'', and ''vwrs''.


        This API requires _admin_ permissions to run.

        '
      tags:
      - Service information
      security:
      - APIKeyAuth: []
      responses:
        '200':
          description: Successfully fetched the type name and instance of the service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInformationResponse'
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '500':
          description: Internal server error.
components:
  schemas:
    getInformationResponse:
      type: object
      properties:
        role:
          description: The type of the service.
          type: string
          enum:
          - leader
          - follower
          - vwrs
          example: leader
        service_host:
          type: string
          description: Name of the instance of the service.
          example: test-service-us-east.example.io
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Provide an API Key to the `Authorization` header, prefixed with "apikey".


        Example: `Authorization: apikey <key>`'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Provide a JSON Web Token (JWT) to the `Authorization` header, prefixed with "bearer".


        Example: `Authorization: bearer <jwt>`'
