openapi: 3.2.0
info:
  title: PhotonIQ Edge Side Tagging Variables API
  description: API reference for PhotonIQ Edge Side Tagging.
  version: 1.0.0
servers:
- url: https://api-demo-est.paas.macrometa.io
  description: PhotonIQ Edge Side Tagging API
host: api-demo-est.paas.macrometa.io
tags:
- name: Variables
  description: All the PhotonIQ EST variables endpoints
paths:
  /api/est/v1/variable:
    post:
      tags:
      - Variables
      description: Create PhotonIQ EST variable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                variableName:
                  type: string
                variableType:
                  type: string
                variableValue:
                  type: string
      responses:
        '200':
          description: Returns created PhotonIQ EST variable
        '500':
          description: Error creating PhotonIQ EST variable
      summary: Create api est variable
      x-summary-source: derived
      operationId: postApiEstV1Variable
      x-operation-id-source: derived
    get:
      tags:
      - Variables
      description: Get PhotonIQ EST variable
      responses:
        '200':
          description: Returns PhotonIQ EST variable
        '500':
          description: Error getting PhotonIQ EST variable
      summary: Get api est variable
      x-summary-source: derived
      operationId: getApiEstV1Variable
      x-operation-id-source: derived
  /api/est/v1/variable/{name}:
    get:
      tags:
      - Variables
      description: Get PhotonIQ EST variable
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
        description: Variable name
      responses:
        '200':
          description: Returns PhotonIQ EST variable
        '500':
          description: Error getting PhotonIQ EST variable
      summary: Get api est variable by name
      x-summary-source: derived
      operationId: getApiEstV1VariableByName
      x-operation-id-source: derived
    patch:
      tags:
      - Variables
      description: Update PhotonIQ EST variable
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
        description: Variable name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                variableName:
                  type: string
                variableType:
                  type: string
                variableValue:
                  type: string
      responses:
        '200':
          description: Returns updated PhotonIQ EST variable
        '500':
          description: Error updating PhotonIQ EST variable
      summary: Update api est variable by name
      x-summary-source: derived
      operationId: patchApiEstV1VariableByName
      x-operation-id-source: derived
    delete:
      tags:
      - Variables
      description: Delete PhotonIQ EST variable
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
        description: Variable name
      responses:
        '200':
          description: PhotonIQ EST service variable deleted successfully
        '500':
          description: Error deleting PhotonIQ EST variable
      summary: Delete api est variable by name
      x-summary-source: derived
      operationId: deleteApiEstV1VariableByName
      x-operation-id-source: derived
