openapi: 3.2.0
info:
  title: PhotonIQ Edge Side Tagging Components API
  description: API reference for PhotonIQ Edge Side Tagging.
  version: 1.0.0
servers:
- url: https://api-demo-est.paas.macrometa.io
  description: PhotonIQ Edge Side Tagging API
host: api-demo-est.paas.macrometa.io
tags:
- name: Components
  description: This endpoint retrieves the current configuration settings of a specified component used for integrating third-party tags. It provides details about each third-party tag that has been configured with the component.
paths:
  /api/est/v1/components:
    get:
      tags:
      - Components
      description: Get all components supported by PhotonIQ EST service.
      parameters:
      - in: query
        name: category
        schema:
          type: string
        description: Filter components by category (optional)
      responses:
        '200':
          description: Returns list of components supported by PhotonIQ EST.
        '500':
          description: Internal server error. Error getting list of components.
      summary: Get api est components
      x-summary-source: derived
      operationId: getApiEstV1Components
      x-operation-id-source: derived
  /api/est/v1/components/{component}:
    get:
      tags:
      - Components
      description: Get Component metadata by component name.
      parameters:
      - in: path
        name: component
        required: true
        schema:
          type: string
        description: Name of the component.
      responses:
        '200':
          description: Returns Component metadata.
        '404':
          description: Component not found.
        '500':
          description: Internal server error. Failed to retrieve the component.
      summary: Get api est components by component
      x-summary-source: derived
      operationId: getApiEstV1ComponentsByComponent
      x-operation-id-source: derived
