openapi: 3.2.0
info:
  title: PhotonIQ Edge Side Tagging Change History API
  description: API reference for PhotonIQ Edge Side Tagging.
  version: 1.0.0
servers:
- url: https://api-demo-est.paas.macrometa.io
  description: PhotonIQ Edge Side Tagging API
host: api-demo-est.paas.macrometa.io
tags:
- name: Change History
  description: All the PhotonIQ EST Change History endpoints.
paths:
  /api/est/v1/change-history:
    get:
      tags:
      - Change History
      description: Get the change history of PhotonIQ EST service.
      parameters:
      - in: query
        name: from
        schema:
          type: string
          format: date-time
        description: Optional. Filter results from a specified date and time in UTC (e.g. 2022-01-01T00:00:00Z).
      - in: query
        name: to
        schema:
          type: string
          format: date-time
        description: Optional. Filter results up to a specified date and time in UTC (e.g. 2022-01-01T00:00:00Z).
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 1000
        description: Optional. Limit the number of results (positive integer, default is 20).
      - in: query
        name: offset
        schema:
          type: integer
          minimum: 0
        description: Optional. Offset the results by a non-negative integer (default is 0).
      responses:
        '200':
          description: Returns the change history for PhotonIQ EST based on the provided query parameters.
        '400':
          description: Bad request. Invalid query parameter.
        '500':
          description: Internal server error. Error getting change history.
      summary: Get api est change history
      x-summary-source: derived
      operationId: getApiEstV1ChangeHistory
      x-operation-id-source: derived
