openapi: 3.0.0
info:
  title: Macrometa API Reference Activity Metrics Streams API
  version: 0.17.17
  description: API reference for the Macrometa Global Data Network.
  license:
    name: Macrometa License, Version 2.0
servers:
- url: https://api-play.paas.macrometa.io
  description: GDN API
host: api-play.paas.macrometa.io
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Streams
paths:
  /_fabric/{fabric}/_api/streams:
    get:
      description: Fetch the list of all streams.
      operationId: ListOfStreams
      parameters:
      - description: Fabric name of the streams.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: Whether the stream is geo-replicated globally.
        in: query
        name: global
        required: false
        schema:
          type: boolean
          format: string
          default: false
      responses:
        '200':
          description: Successfully fetched the list of all streams.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_all_streams_examples_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Get list of streams
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/{stream}:
    post:
      description: Create a stream.
      operationId: CreateStream
      parameters:
      - description: Fabric name of the streams.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: The name of the stream (up to 230 characters).
        in: path
        name: stream
        required: true
        schema:
          type: string
          format: string
      - description: Whether the stream is geo-replicated globally
        in: query
        name: global
        required: true
        schema:
          type: boolean
          format: string
          default: false
      responses:
        '200':
          description: Successfully created the stream.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_stream_example_rc_202'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '409':
          description: Failed because stream already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_409'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Create stream
      tags:
      - Streams
    delete:
      description: ' Remove a stream.'
      operationId: DeleteStream
      parameters:
      - description: Fabric name of the stream.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: The name of the stream (up to 240 characters). It should start with *c8locals.* or *c8globals.*.
        in: path
        name: stream
        required: true
        schema:
          type: string
          format: string
      - description: Stop all producers/consumers and delete the stream forcefully. *deprecated*
        in: query
        name: force
        required: true
        schema:
          type: boolean
          format: string
          default: true
      responses:
        '200':
          description: Successfully removed stream.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_stream_example_rc_202'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified stream.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Remove stream
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/{stream}/publish:
    post:
      description: Publish message in a stream.
      operationId: PublishStreamMessage
      parameters:
      - description: Fabric name of the stream.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: The name of the stream (up to 240 characters). It should start with *c8locals.* or *c8globals.*.
        in: path
        name: stream
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: Name of the message.
        required: true
      responses:
        '200':
          description: Successfully published message to the stream.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publish_stream_example_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Publish message
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/{stream}/backlog:
    get:
      description: Get the estimated backlog for the stream.
      operationId: Backlog
      parameters:
      - description: Fabric name of the streams.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: The name of the stream (up to 240 characters). It should start with *c8locals.* or *c8globals.*.
        in: path
        name: stream
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Successfully fetched the stream backlog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_stream_backlog_example_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Get backlog for the stream
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/{stream}/stats:
    get:
      description: Get the statistics for a stream.
      operationId: Stats
      parameters:
      - description: Fabric name of the streams.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: The name of the stream (up to 240 characters). It should start with *c8locals.* or *c8globals.*.
        in: path
        name: stream
        required: true
        schema:
          type: string
          format: string
      - description: If set to *true*, returns precise backlog
        in: query
        name: getPreciseBacklog
        required: false
        schema:
          type: boolean
          format: string
          default: 'false'
      - description: 'If set to *true*, returns backlog size for each subscription.


          Note: This requires locking the ledger so be careful not to use it when there''s heavy traffic.'
        in: query
        name: subscriptionBacklogSize
        required: false
        schema:
          type: boolean
          format: string
          default: 'false'
      responses:
        '200':
          description: Successfully fetched the stream statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_stream_stats_example_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Get stats for the stream
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/{stream}/subscriptions:
    get:
      description: Get the list of subscriptions for a stream.
      operationId: GetSubscriptionsList
      parameters:
      - description: Fabric name.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: The name of the stream (up to 240 characters). It should start with *c8locals.* or *c8globals.*.
        in: path
        name: stream
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Successfully fetched the subscriptions for a stream.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_stream_subs_example_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Get stream subscriptions
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/ttl:
    get:
      description: Fetch the Time To Live (TTL) in seconds for messages in streams.
      operationId: GetStreamsTTL
      parameters:
      - description: Fabric name of the streams.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: Whether the stream is geo-replicated globally.
        in: query
        name: global
        required: true
        schema:
          type: boolean
          format: string
          default: false
      responses:
        '200':
          description: Successfully fetched the message TTL for the stream
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_stream_ttl_example_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed due to missing authentication data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Get message TTL for streams
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/ttl/{ttl}:
    post:
      description: ' Set the message Time To Live (TTL) in seconds for all streams.'
      operationId: SetStreamsTTL
      parameters:
      - description: Fabric name of the streams.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: TTL in seconds.
        in: path
        name: ttl
        required: true
        schema:
          type: integer
          format: string
          default: 3600
      - description: Whether the stream is geo-replicated globally.
        in: query
        name: global
        required: true
        schema:
          type: boolean
          format: string
          default: false
      responses:
        '200':
          description: Successfully set the message TTL for streams.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set_stream_ttl_example_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed due to missing authentication data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Set message TTL for streams
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/clearbacklog:
    post:
      description: Clear backlog for all streams.
      operationId: ClearBacklog
      parameters:
      - description: Fabric name of the streams.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: Whether the stream is geo-replicated globally.
        in: query
        name: global
        required: true
        schema:
          type: boolean
          format: string
          default: false
      responses:
        '200':
          description: Successfully cleared backlog for all streams.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set_stream_ttl_example_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed due to missing authentication data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Clear backlog
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/clearbacklog/{subscription}:
    post:
      description: Clear stream backlogs for a specified subscription.
      operationId: ClearSubscription'sBacklog
      parameters:
      - description: Fabric name of the streams.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: Subscription name
        in: path
        name: subscription
        required: true
        schema:
          type: string
          format: string
      - description: Whether the stream is geo-replicated globally.
        in: query
        name: global
        required: true
        schema:
          type: boolean
          format: string
          default: false
      responses:
        '200':
          description: Successfully cleared backlog for specified subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set_stream_ttl_example_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed due to missing authentication data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Clear subscription's backlog
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/{stream}/expiry/{seconds}:
    post:
      description: ' Set the expiration time for all messages on the stream, this applies to all subscriptions.'
      operationId: ExpireMessages
      parameters:
      - description: Fabric name.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: The name of the stream (up to 240 characters). It should start with *c8locals.* or *c8globals.*.
        in: path
        name: stream
        required: true
        schema:
          type: string
          format: string
      - description: Expiry time in seconds.
        in: path
        name: seconds
        required: true
        schema:
          type: integer
          format: int
          default: 3600
      responses:
        '200':
          description: Successfully set the expiration time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set_stream_ttl_example_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '409':
          description: Failed due to expiration of message by timestamp not issued on a topic.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_409'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Expire messages on the stream
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/subscription/{subscription}:
    delete:
      description: Remove the specified subscription on all streams.
      operationId: DeleteAllSubscriptions
      parameters:
      - description: Fabric name of the streams.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: Subscription name
        in: path
        name: subscription
        required: true
        schema:
          type: string
          format: string
      - description: Whether the stream is geo-replicated globally.
        in: query
        name: global
        required: true
        schema:
          type: boolean
          format: string
          default: false
      responses:
        '200':
          description: Successfully removed the specified subscription on all streams.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set_stream_ttl_example_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed due to missing authentication data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Unsubscribe
      tags:
      - Streams
  /_fabric/{fabric}/_api/streams/{stream}/subscriptions/{subscription}:
    delete:
      description: Removed the specified subscription from a stream. There should not be any active consumers.
      operationId: DeleteSubscription
      parameters:
      - description: Fabric name of the streams.
        in: path
        name: fabric
        required: true
        schema:
          type: string
          format: string
          default: _system
      - description: The name of the stream (up to 240 characters). It should start with *c8locals.* or *c8globals.*.
        in: path
        name: stream
        required: true
        schema:
          type: string
          format: string
      - description: Subscription name
        in: path
        name: subscription
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Successfully removed the specified subscription from a stream.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set_stream_ttl_example_rc_200'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '400':
          description: Failed due to missing or malformed data. Verify that all parameters are complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_400'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '401':
          description: Failed because you do not have administrator permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_401'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '404':
          description: Failed to find specified subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_404'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
        '412':
          description: Failed due to removing active consumer from subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_example_rc_412'
          headers:
            x-gdn-region:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-region'
            x-gdn-requestid:
              schema:
                $ref: '#/components/schemas/headers/x-gdn-requestid'
      summary: Delete subscription
      tags:
      - Streams
components:
  schemas:
    delete_stream_example_rc_202:
      type: object
      properties:
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        code:
          description: The generated response code.
          type: integer
          example: 202
        result:
          type: object
    get_all_streams_examples_rc_200:
      properties:
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        code:
          description: The generated response code.
          type: integer
          example: 200
        result:
          description: An array of streams.
          type: array
          items:
            properties:
              _key:
                type: string
                example: _attributes_TYPE4
              _id:
                type: string
                example: _collections/_attributes_TYPE4
              _rev:
                type: string
                example: dsH7Aem--J
              db:
                type: string
                example: _system
              local:
                type: boolean
                example: true
              tenant:
                type: string
                example: _mm
              topic:
                type: string
                example: _attributes
              type:
                type: integer
                example: 4
    get_stream_stats_example_rc_200:
      properties:
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        code:
          description: The generated response code.
          type: integer
          example: 200
        result:
          type: string
          description: Stringified JSON object with statistics for the stream.
    error_example_rc_409:
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 409
        error:
          description: Flag if there is an error in response. *True* for this response.
          type: boolean
          example: true
        errorMessage:
          description: A message created for this error.
          type: string
          example: Error message
        errorNum:
          description: Error number returned from the database.
          type: integer
          example: 581
      required:
      - error
      type: object
    get_stream_subs_example_rc_200:
      properties:
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        code:
          description: The generated response code.
          type: integer
          example: 200
        result:
          type: string
          description: Stringified JSON object with a list of subscriptions for the stream.
    error_example_rc_404:
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 404
        error:
          description: Flag if there is an error in response. *True* for this response.
          type: boolean
          example: true
        errorMessage:
          description: A message created for this error.
          type: string
          example: Error message
        errorNum:
          description: Error number returned from the database.
          type: integer
          example: 581
      required:
      - error
      type: object
    headers:
      x-gdn-region:
        description: The federation's region hostname that served the request.
        type: string
      x-gdn-requestid:
        description: A unique request ID for each API request.
        type: string
    get_stream_backlog_example_rc_200:
      properties:
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        code:
          description: The generated response code.
          type: integer
          example: 200
        result:
          type: string
          description: Stringified JSON object with backlog details
    publish_stream_example_rc_200:
      type: object
      properties:
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        code:
          description: The generated response code.
          type: integer
          example: 200
        result:
          type: object
    get_stream_ttl_example_rc_200:
      properties:
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        code:
          description: The generated response code.
          type: integer
          example: 200
        result:
          type: string
          example: '21600'
          description: TTL in seconds.
    error_example_rc_400:
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 400
        error:
          description: Flag if there is an error in response. *True* for this response.
          type: boolean
          example: true
        errorMessage:
          description: A message created for this error.
          type: string
          example: Error message
        errorNum:
          description: Error number returned from the database.
          type: integer
          example: 102020
      required:
      - error
      type: object
    error_example_rc_412:
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 412
        error:
          description: Flag if there is an error in response. *True* for this response.
          type: boolean
          example: true
        errorMessage:
          description: A message created for this error.
          type: string
          example: Error message
        errorNum:
          description: Error number returned from the database.
          type: integer
          example: 581
      required:
      - error
      type: object
    create_stream_example_rc_202:
      properties:
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        code:
          description: The generated response code.
          type: integer
          example: 202
        result:
          properties:
            stream-id:
              type: string
              example: c8locals.stream1
    error_example_rc_401:
      properties:
        code:
          description: HTTP response code.
          type: integer
          example: 401
        error:
          description: Flag if there is an error in response. *True* for this response.
          type: boolean
          example: true
        errorMessage:
          description: A message created for this error.
          type: string
          example: Error message
        errorNum:
          description: Error number returned from the database.
          type: integer
          example: '102020'
      required:
      - error
      type: object
    set_stream_ttl_example_rc_200:
      properties:
        error:
          description: Flag if there is an error in response. *False* for this response.
          type: boolean
          example: false
        code:
          description: The generated response code.
          type: integer
          example: 200
        result:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Provide an API Key to the `Authorization` header, prefixed with "apikey".


        Example: `Authorization: apikey <key>`'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Provide a JSON Web Token (JWT) to the `Authorization` header, prefixed with "bearer".


        Example: `Authorization: bearer <jwt>`'
