openapi: 3.2.0
info:
  title: Macrometa Version API
  version: '1.0'
  description: 'Operations tagged Version across 5 of this provider''s published API definitions: macrometa-photoniq-eds-openapi-original.json, macrometa-photoniq-fps-openapi-original.json, macrometa-photoniq-hss-openapi-original.json, macrometa-photoniq-prerender-openapi-original.json, macrometa-photoniq-vwrs-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-play.paas.macrometa.io
  description: GDN API
- url: https://demofps.paas.macrometa.io
- url: https://demo-prerender.photoniq.macrometa.io
- url: https://api-demo-vwr.paas.macrometa.io
  description: PhotonIQ Virtual Waiting Rooms API
host: api-play.paas.macrometa.io
tags:
- name: Version
  description: Get EDS version
paths:
  /api/es/v1/version:
    get:
      summary: Get EDS version via WebSocket
      description: Get the EDS version information.
      operationId: get-version-ws
      tags:
      - Version
      responses:
        '200':
          description: Successfully returned the version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVersionResponse'
    servers:
    - url: https://api-play.paas.macrometa.io
      description: GDN API
  /api/es/sse/v1/version:
    get:
      tags:
      - Version
      summary: Get EDS version via SSE
      description: Get the EDS version information.
      operationId: get-version-sse
      responses:
        '200':
          description: Successfully returned the version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVersionResponse'
    servers:
    - url: https://api-play.paas.macrometa.io
      description: GDN API
  /api/ds/v1/version:
    get:
      summary: Get the version
      tags:
      - Version
      security:
      - ApiKeyAuth: []
      description: Get the version details for the service.
      operationId: getVersion
      responses:
        '200':
          description: Successfully returned the version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVersionResponse_2'
    servers:
    - url: https://demofps.paas.macrometa.io
  /api/hss/v1/version:
    get:
      tags:
      - Version
      summary: Get version
      description: Get the current version.
      operationId: get_version_api_hss_v1_version_get
      responses:
        '200':
          description: Successfully returned the version.
          content:
            application/json:
              schema: {}
              example:
                version: '1.0'
        '401':
          description: 'Error: Unauthorized.'
          content:
            application/json:
              example:
                detail: Unauthorized
      security:
      - APIKeyHeader: []
  /api/prerender/v1/version:
    get:
      summary: Get API version
      tags:
      - Version
      description: Returns the API version.
      responses:
        '200':
          description: API version fetched successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: API version.
                required:
                - version
                description: API version fetched successfully.
                example:
                  version: 1.0.0
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                description: Internal server error.
                properties:
                  status:
                    type: string
                    description: Error status.
                  message:
                    type: string
                    description: Error message.
                required:
                - status
                - message
                example:
                  status: ERROR
                  message: Internal server error.
      operationId: getApiPrerenderV1Version
      x-operation-id-source: derived
    servers:
    - url: https://demo-prerender.photoniq.macrometa.io
  /api/vwr/v1/version:
    get:
      summary: Version of the service
      tags:
      - Version
      description: Gets the current version of the service.
      operationId: getVersion
      security:
      - APIKeyAuth: []
      responses:
        '200':
          description: Successfully fetched the version of the service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVersionResponse_3'
        '401':
          description: Authorization failure due to invalid authentication credentials.
        '403':
          description: Either the API key doesn't have permissions or it is deactivated.
        '500':
          description: Internal server error.
    servers:
    - url: https://api-demo-vwr.paas.macrometa.io
      description: PhotonIQ Virtual Waiting Rooms API
components:
  schemas:
    GetVersionResponse:
      type: object
      required:
      - version
      properties:
        version:
          type: string
          example: v1
    GetVersionResponse_2:
      type: object
      properties:
        version:
          type: string
    GetVersionResponse_3:
      type: object
      properties:
        version:
          type: string
          description: The version of the service.
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
    APIKeyHeader:
      type: apiKey
      in: header
      name: Authorization
    APIKeyAuth:
      type: apiKey
      in: header
      name: Authorization
x-refined-from:
- macrometa-photoniq-eds-openapi-original.json
- macrometa-photoniq-fps-openapi-original.json
- macrometa-photoniq-hss-openapi-original.json
- macrometa-photoniq-prerender-openapi-original.json
- macrometa-photoniq-vwrs-openapi-original.json
